---
import type { CollectionEntry } from 'astro:content'

import { getBlogPath } from '@/utils/pathHelper'

import DatePost from './shared/DatePost.astro'
import ImageBlur from './shared/ImageBlur.astro'

export interface Props {
  noTransition?: boolean
  post: CollectionEntry<'posts'>
  showDescription?: boolean
}

const { noTransition, post, showDescription = true } = Astro.props
const { cover, title, publishedAt, description } = post.data

const transitionName = noTransition ? undefined : `post-img-${post.slug}`
---

<article class="relative overflow-hidden flex flex-col gap-2 card">
  <a
    aria-label={title}
    href={getBlogPath(post.slug)}
    class="absolute inset-0 z-10"></a>
  {
    cover && (
      <ImageBlur
        class="h-44 w-full md:h-[215px]"
        src={cover as ImageMetadata}
        alt={title}
        width={600}
        transitionName={transitionName}
      />
    )
  }
  <div class="flex flex-1 w-full flex-col justify-between p-5">
    <h4
      class="dark:text-neutral-100 line-clamp-2 font-semibold text-xl mb-4"
      transition:name={`post-title-home-${post.slug}`}
    >
      {title}
    </h4>
    {showDescription && <p class="mb-8 line-clamp-2 flex-1">{description}</p>}
    <DatePost
      class="text-neutral-700 dark:text-neutral-200 self-end"
      date={publishedAt}
    />
  </div>
</article>
