---
import type { Project } from '@/data/projects'

import Icon from './shared/Icon.astro'

export type Props = Project

const { title, techs, description, link, prize } = Astro.props
---

<div class="relative flex flex-col card p-5">
  <a
    aria-label={title}
    href={link}
    class="absolute inset-0 z-10"
    target="_blank"
    rel="noopener noreferrer"></a>
  <div class="hidden md:flex gap-2 absolute top-6 right-6">
    <Icon icon="github-logo" size="24px" />
  </div>
  <div class="flex items-center mb-2">
    <h4 class="text-xl md:text-2xl font-semibold dark:text-neutral-100">
      {title}
    </h4>
    {
      prize && (
        <div class="ml-4 flex rounded-md bg-yellow-400 px-2 py-1">
          <p class="mr-1 text-sm font-semibold">{prize}</p>
          <Icon icon="trophy" size="18px" />
        </div>
      )
    }
  </div>
  <p class="mb-8 line-clamp-2">{description}</p>
  <ul class="inline-flex flex-wrap gap-2 items-center">
    {
      techs.map((tech) => (
        <li class="inline-block rounded-md bg-gray-800 px-2 py-1 text-sm font-semibold text-white dark:bg-gray-700">
          {tech}
        </li>
      ))
    }
  </ul>
</div>
