---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import HeadTags, {
  type Props as HeadTagsProps,
} from '@/components/seo/HeadTags.astro'
import BlurCircle from '@/components/shared/BlurCircle.astro'

import theme from '@/data/theme'

import type { Language } from '@/i18n/ui'

import '@fontsource/open-sans'

import '@fontsource/lato/700.css'
import '@fontsource/lato/700-italic.css'
import '@/styles/tailwind.css'
import 'tippy.js/dist/tippy.css'

export interface Props {
  seo?: HeadTagsProps['seo']
  translatedPostSlug?: string
}

const { seo = {}, translatedPostSlug } = Astro.props

const lang = Astro.currentLocale as Language
---

<!doctype html>
<html lang={lang}>
  <HeadTags {seo} {translatedPostSlug} />

  <body
    class="mx-auto flex min-h-screen max-w-[872px] flex-col gap-10 bg-slate-50 dark:bg-neutral-950 px-5 pt-8 pb-12 text-base text-neutral-800 dark:text-neutral-300 md:gap-20 md:py-16"
  >
    <Header {translatedPostSlug} />
    <BlurCircle position="top" color={theme.colors.blur.top} />
    <BlurCircle position="bottom" color={theme.colors.blur.bottom} />
    <slot />
    <Footer />
  </body>
</html>
